@charset 'utf-8';

body{font-family: 'Noto Serif KR', serif;}
body::-webkit-scrollbar {display: none; /* Chrome, Safari, Opera*/}
.content{width: 90%;max-width: 1350px;margin: 0 auto;}
.section{box-sizing: border-box;width: 100vw; height: 100vh;}

#i_am{background:linear-gradient(#383F5B 50%,#FFE2BD 50%);}
#skill{background:linear-gradient(#FFE2BD 50%,#C36350 50%)}
#portfolio{background:linear-gradient(#C36350 30%,#383F5B 70%)}
#tel{background:linear-gradient(#383F5B 50%,#FFE2BD 50%)}


/* #i_am{background-image: url(../images/bg07.jpg);
    background-size: cover;background-position: center;background-repeat: no-repeat;}
#skill{background: url(../images/bg05.jpg) no-repeat; background-size: cover; background-position: center;}
#portfolio{background: url(../images/bg04.png) no-repeat; background-size: cover;}
#tel{background:url(../images/bg06.jpg)no-repeat; background-size: cover; background-position: center;} */


.fp-tableCell{display: table;}