@charset "utf-8";



body{ -ms-overflow-style: none; } 
::-webkit-scrollbar { display: none; }

.loading{position: absolute; top: 0; left: 0; width: 100vw; height: 100vh; background: #14152F; z-index: 999;}

.wrap{width: 100%; position: relative;}
#wrap{display: block;}
#wrap2{display: none;}


nav.nav{position: fixed; background: transparent; width: 100%; height: 80px; z-index: 99; box-sizing: border-box;
    display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: center;}
.nav ul li{display: inline-block;}
.nav ul.sns_icon{width: 45%; margin-left: 5%;}
.nav ul.sns_icon li i{font-size: 30px; text-indent: 30px; cursor: pointer; transition: .5s; text-shadow: -1px 0 #14152F, 0 1px #14152F, 1px 0 #14152F, 0 -1px #14152F;}
.nav ul.sns_icon li i:hover{text-shadow: 0 0 10px #2356ff,0 0 20px #2356ff,0 0 40px #2356ff;}
.nav ul.sns_icon li:last-child i{font-size: 28px;}
.nav ul.sns_icon li:last-child:hover p,
.nav ul.sns_icon li:last-child:hover i{text-shadow: 0 0 10px #ff5252, 0 0 20px #ff5252, 0 0 40px #ff5252;}
.nav ul.sns_icon li:last-child p{display: inline-block; font-size: 24px; font-family: 'SDSamliphopangche_Basic'; transition: .5s; opacity: 0;
    margin-left: 5px;}
.nav ul.sns_icon li:last-child:hover p{opacity: 1;}

.nav a.logo_nav{display: block; width: 10%; height: 80%; background: url(../images/nav_tit.png) no-repeat; background-size: contain; background-position: center bottom;
    text-indent: 100%; white-space: nowrap; overflow: hidden;}
.nav ul.menu{width: 45%; margin-right: 5%; text-align: right;}
.nav ul.menu li {text-indent: 30px;}
.nav ul.menu li a{font-size: 24px; font-family: 'SDSamliphopangche_Basic'; transition: .5s;
    text-shadow: -1px 0 #14152F, 0 1px #14152F, 1px 0 #14152F, 0 -1px #14152F;}
.nav ul.menu li a:hover{text-shadow: 0 0 10px #2356ff,0 0 20px #2356ff,0 0 40px #2356ff;}






/* 팝업 */

.pop_up{position: absolute; top: 100px; box-sizing: border-box; overflow: hidden; text-align: center; z-index: 99; 
    width: 480px; height: 500px; border-radius:10px; box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.8);}

.pop_up .event_img{width: 100%; height: calc(100% - 40px); background: url(../images/이벤트.jpg) no-repeat; background-size: 100% 100%; 
    background-position: center center;}

.pop_up form{position: absolute; left: 0; bottom: 0; box-sizing: border-box; background:#ecf0f4; display:flex; justify-content:flex-end; align-items:center; 
    width: 100%; height: 40px;}
.pop_up form label{font-size: 18px; margin: 0 20px 0 5px; color: #333;}
.pop_up form input{width: 15px; height: 15px;}
.pop_up form .closebtn{font-size: 28px; color: #333; cursor: pointer; margin-right: 10px;}


.pop_up1{position: absolute; left: 15%;}
.pop_up2{position: absolute; left: calc(15% + 500px);}
.pop_up3{position: absolute; left: calc(15% + 1000px);}



.neon {
    color: #FB4264;
    text-shadow: 0 0 3vw #F40A35;
    animation: neon 2s linear infinite;
    -moz-animation: neon 2s linear infinite;
    -webkit-animation: neon 2s linear infinite;
    -o-animation: neon 2s linear infinite;
}

.flux {
    color: #426DFB;
    text-shadow: 0 0 3vw #2356FF;
    animation: flux 2s linear infinite;
    -moz-animation: flux 2s linear infinite;
    -webkit-animation: flux 2s linear infinite;
    -o-animation: flux 2s linear infinite;
}


@keyframes neon {
    0%,40%,60%,100% {
        text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
        color: #FED128;
    }
    50% {
        text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
        color: #806914;
    }
}



@keyframes flux {
    0%,40%,60%,100% {
        text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
        color: #28D7FE;
    }
    50% {
        text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
        color: #146C80;
    }
}





/* =========================================================================
=============================== 1 page ===============================
========================================================================= */



header.header{width: 100%; background: linear-gradient(to top, #14152F 0%, #3B465E 100%);}
header.header .bak{position: absolute; top: 0; left: 0; width: 100%; height: 100%;
    background: url(../images/ti193a3305.png) no-repeat; background-size: cover; background-position: center;}
.header .head_sec{width: 100%; height: 100vh; max-width: 1920px;}
.header .head_sec .head_txt{width: 30%; height: 400px; position: absolute; left: 15%; top: 50%; transform: translateY(-50%); 
    animation: drink 1.5s infinite ease-in-out;}
.header .head_sec .head_txt p{text-align: left; font-size: 32px; font-family: 'SDSamliphopangche_Basic'; width: 100%;
    text-align: center;}
.header .head_sec .head_txt .logo{width: 100%; height: 350px; background: url(../images/title2.png) no-repeat; background-size: contain;
    background-position: center bottom;}

.header .head_sec .model_img{width: 50%; height: 90vh; right: 5%; bottom: 0;}
.header .head_sec .model1{background: url(../images/model1.png) no-repeat; background-size: contain; background-position: center bottom; position: absolute; }
.header .head_sec .model2{background: url(../images/model2.png) no-repeat; background-size: contain; background-position: center bottom; position: absolute; }
.header .head_sec .model3{background: url(../images/model3.png) no-repeat; background-size: contain; background-position: center bottom; position: absolute; }



@keyframes mousemove{
    0%,100%{ bottom : 50px; }
    50%,70%{ bottom : 80px; }
}

@keyframes drink{
    0%,100%{ top : 50%; }
    50%{ top : 52%; }
}



/* =========================================================================
=============================== 2 page ===============================
========================================================================= */

section{width: 100%; height: 100vh;}

section.drink_guide{
    background: url(../images/bak_sec2.png) no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    width: 100%;
}

.drink_guide .sec_wrap{ display: flex; flex-flow: column nowrap;}

.drink_guide .sec_wrap>h2{width: 100%; font-size: 70px; text-align: center; margin: 40px 0;}
.drink_guide .sec_wrap>h2 span{ font-family: 'SDSamliphopangche_Outline'; }
.drink_guide .sec_wrap>p{font-size: 30px; font-family: 'SDSamliphopangche_Basic'; text-shadow: 0 0 10px #14152f, 0 0 20px #14152f; text-align: center;}

.drink_guide .drink_wrap{width: 100%; display: flex; flex-flow: row nowrap; justify-content: center; align-items: center; margin-top: 80px;}
.drink_guide .drink_wrap>div{width: 15%; height: auto; position: relative; text-align: center;}
.drink_guide .drink_wrap .img_wrap{ height: 300px;}
.drink_guide .drink_wrap img.product{width: 180px; height: auto; position: absolute; bottom: 90px; left: 50%; transform: translateX(-50%); transition: .3s; 
    overflow: hidden;}
.drink_guide .drink_wrap img.bak{position: absolute; bottom: 60px; right: 0px; width: 150px; height: auto; pointer-events: none; opacity: 0; transition: .3s;}
.drink_guide .drink_wrap p{font-size: 22px; line-height: 1.2em; transition: .3s; margin-top: 40px; position: relative; font-family: 'BBTreeGB';
    text-shadow: 0 0 10px #14152f, 0 0 20px #14152f;}

    
.drink_guide .drink:hover img.bak{animation: rotation 1.5s ease-in-out infinite;}

/* .drink_guide .drink:hover img.product{background-color: white; border: 1px solid white; transform: translateX(-50%) scale(1.1); }
.drink_guide .drink1:hover img.product{animation: bak1 1.5s ease-in-out infinite;}
.drink_guide .drink2:hover img.product{animation: bak2 1.5s ease-in-out infinite;}
.drink_guide .drink3:hover img.product{animation: bak3 1.5s ease-in-out infinite;}
.drink_guide .drink4:hover img.product{animation: bak4 1.5s ease-in-out infinite;}
.drink_guide .drink5:hover img.product{animation: bak5 1.5s ease-in-out infinite;} */

.drink_guide .drink1:hover p{animation: txt1 1.5s ease-in-out infinite;}
.drink_guide .drink2:hover p{animation: txt2 1.5s ease-in-out infinite;}
.drink_guide .drink3:hover p{animation: txt3 1.5s ease-in-out infinite;}
.drink_guide .drink4:hover p{animation: txt4 1.5s ease-in-out infinite;}
.drink_guide .drink5:hover p{animation: txt5 1.5s ease-in-out infinite;}


@keyframes rotation {
    0%, 100% {
        opacity: .6;
        transform: rotate(0deg);
    }
    50% {
        opacity: 1;
        transform: rotate(-10deg);
    }
}


@keyframes bak1 {
    0%, 100% {box-shadow:0 0 10px #00b3ff,0 0 20px #00b3ff,0 0 40px #00b3ff;}
    50% {box-shadow:0 0 10px #00b3ff,0 0 20px #00b3ff;}
}

@keyframes bak2 {
    0%, 100% {box-shadow:0 0 10px #ff5252,0 0 20px #ff5252,0 0 40px #ff5252;}
    50% {box-shadow:0 0 10px #ff5252,0 0 20px #ff5252;}
}

@keyframes bak3 {
    0%, 100% {box-shadow:0 0 10px #ffc23e,0 0 20px #ffc23e,0 0 40px #ffc23e;}
    50% {box-shadow:0 0 10px #ffc23e,0 0 20px #ffc23e;}
}
@keyframes bak4 {
    0%, 100% {box-shadow:0 0 10px #2356ff,0 0 20px #2356ff,0 0 40px #2356ff;}
    50% {box-shadow:0 0 10px #2356ff,0 0 20px #2356ff;}
}
@keyframes bak5 {
    0%, 100% {box-shadow:0 0 10px #e314ff,0 0 20px #e314ff,0 0 40px #e314ff;}
    50% {box-shadow:0 0 10px #e314ff,0 0 20px #e314ff;}
}



@keyframes txt1 {
    0%, 100% {text-shadow:0 0 10px #00b3ff,0 0 20px #00b3ff,0 0 40px #00b3ff;}
    50% {text-shadow:0 0 10px #00b3ff,0 0 20px #00b3ff;}
}

@keyframes txt2 {
    0%, 100% {text-shadow:0 0 10px #ff5252,0 0 20px #ff5252,0 0 40px #ff5252;}
    50% {text-shadow:0 0 10px #ff5252,0 0 20px #ff5252;}
}

@keyframes txt3 {
    0%, 100% {text-shadow:0 0 10px #ffc23e,0 0 20px #ffc23e,0 0 40px #ffc23e;}
    50% {text-shadow:0 0 10px #ffc23e,0 0 20px #ffc23e;}
}
@keyframes txt4 {
    0%, 100% {text-shadow:0 0 10px #2356ff,0 0 20px #2356ff,0 0 40px #2356ff;}
    50% {text-shadow:0 0 10px #2356ff,0 0 20px #2356ff;}
}
@keyframes txt5 {
    0%, 100% {text-shadow:0 0 10px #e314ff,0 0 20px #e314ff,0 0 40px #e314ff;}
    50% {text-shadow:0 0 10px #e314ff,0 0 20px #e314ff;}
}

/* =========================================================================
=============================== 3 page ===============================
========================================================================= */



section.drink_sec{
    background: url(../images/slide_bak.png)no-repeat; 
    background-size: cover;
    box-sizing: border-box;
    width: 100%;
}


.drink_sec .swiper-container{width: 80%; max-width: 1000px; height: 80vh; padding: 5% 8%;}
.drink_sec .swiper-slide{position: relative;}

.drink_sec .swiper-slide h2{background: url(../images/tit_bak2.png) no-repeat; background-size: contain; font-family: 'SDSamliphopangche_Basic';
    width: 800px; height: 300px; position: absolute; top: -30px; left: 0; font-size: 58px; text-indent: 130px; line-height: 330px;}

.drink_sec .swiper-slide .box_wrap{width: 100%; height: 60vh; display: flex; flex-flow: row nowrap; justify-content: center; align-items: center; box-sizing: border-box; border: 3px solid white; 
    background: rgba(255,255,255,0.2); border-radius: 1.5rem; padding: 0px 3%; margin-top: 180px;}
    
/* .drink_sec .swiper-slide h2{text-shadow: 0 0 10px #000,0 0 20px #000, 0 0 40px #000 !important;} */


.drink_sec .slide1 .box_wrap{box-shadow:0 0 10px #00b3ff,0 0 20px #00b3ff,0 0 40px #00b3ff,0 0 80px #00b3ff;}
.drink_sec .slide1 h2{text-shadow: 0 0 10px #00b3ff,0 0 20px #00b3ff, 0 0 40px #00b3ff;}
.drink_sec .slide1 .box_wrap p i{text-shadow: 0 0 10px #00b3ff,0 0 20px #00b3ff;}


.drink_sec .slide2 .box_wrap{box-shadow:0 0 10px #ff5252,0 0 20px #ff5252,0 0 40px #ff5252,0 0 80px #ff5252;}
.drink_sec .slide2 h2{text-shadow: 0 0 10px #ff5252,0 0 20px #ff5252, 0 0 40px #ff5252; background: url(../images/tit_bak.png) no-repeat; background-size: contain;
    text-indent: 140px;}
.drink_sec .slide2 .box_wrap p i{text-shadow: 0 0 10px #ff5252,0 0 20px #ff5252;}

.drink_sec .slide3 .box_wrap{box-shadow:0 0 10px #ffc23e,0 0 20px #ffc23e,0 0 40px #ffc23e,0 0 80px #ffc23e;}
.drink_sec .slide3 h2{text-shadow: 0 0 10px #ffc23e,0 0 20px #ffc23e, 0 0 40px #ffc23e; background: url(../images/tit_bak3.png) no-repeat; background-size: contain;
    text-indent: 140px;}
.drink_sec .slide3 .box_wrap p i{text-shadow: 0 0 10px #ffc23e,0 0 20px #ffc23e;} 

.drink_sec .slide4 .box_wrap{box-shadow:0 0 10px #2356ff,0 0 20px #2356ff,0 0 40px #2356ff,0 0 80px #2356ff;}
.drink_sec .slide4 h2{text-shadow: 0 0 10px #2356ff,0 0 20px #2356ff, 0 0 40px #2356ff;}
.drink_sec .slide4 .box_wrap p i{text-shadow: 0 0 10px #2356ff,0 0 20px #2356ff;}

.drink_sec .slide5 .box_wrap{box-shadow:0 0 10px #e314ff,0 0 20px #e314ff,0 0 40px #e314ff,0 0 80px #e314ff;}
.drink_sec .slide5 h2{text-shadow: 0 0 10px #e314ff,0 0 20px #e314ff, 0 0 40px #e314ff; background: url(../images/tit_bak3.png) no-repeat; background-size: contain;
    text-indent: 140px;}
.drink_sec .slide5 .box_wrap p i{text-shadow: 0 0 10px #e314ff,0 0 20px #e314ff;}


.drink_sec .swiper-slide .box_wrap p{font-size: 26px; line-height: 1.8em; font-weight: 500; margin-bottom: 20px; font-family: 'BBTreeGB';
    color: #fff; text-shadow: -1px 0 #14152F, 0 1px #14152F, 1px 0 #14152F, 0 -1px #14152F;}
.drink_sec .swiper-slide .box_wrap p i{display: inline-block; width: 40px;}

.drink_sec .swiper-slide .txt_box{width: 70%; height: 100%; display: flex; flex-flow: column nowrap; justify-content: center; 
    box-sizing: border-box; padding: 50px 0 0 30px;}



.drink_sec .swiper-slide .img_box{width: 30%; height: 100%; box-sizing: border-box; margin-top: 0px; display: flex; flex-flow: column nowrap;
    justify-content: center; align-items: center;}
.drink_sec .swiper-slide .img_box img{width: 230px; height: auto; transition: all .3s ease-in-out; box-sizing: border-box;}
/* .drink_sec .swiper-slide .img_box:hover img{border: 2px solid #fff;}
.drink_sec .slide1 .img_box:hover img{box-shadow: 0 0 10px #00b3ff,0 0 20px #00b3ff, 0 0 40px #00b3ff;}
.drink_sec .slide2 .img_box:hover img{box-shadow: 0 0 10px #ff5252,0 0 20px #ff5252, 0 0 40px #ff5252;}
.drink_sec .slide3 .img_box:hover img{box-shadow: 0 0 10px #ffc23e,0 0 20px #ffc23e, 0 0 40px #ffc23e;}
.drink_sec .slide4 .img_box:hover img{box-shadow: 0 0 10px #2356ff,0 0 20px #2356ff, 0 0 40px #2356ff;}
.drink_sec .slide5 .img_box:hover img{box-shadow: 0 0 10px #e314ff,0 0 20px #e314ff, 0 0 40px #e314ff;} */

.drink_sec .swiper-slide .img_box .button_sell{width: 210px; padding: 4px; border-radius: 20px; position: relative; margin-top: 10px; filter: grayscale(100%);
    background: linear-gradient(to right, #56ccf2, #2f80ed); transition: all .3s ease-in-out; box-shadow:0 0 10px #14152f, 0 0 20px #14152f;}

.drink_sec .swiper-slide .img_box .button_sell div{position: relative; z-index: 3; display: flex; flex-flow: row nowrap; justify-content: center;
    padding: 16px 0 14px; background: #333; border-radius: 17px; text-align: center; letter-spacing: 1px; line-height: 1.8em;}

.drink_sec .swiper-slide .img_box .button_sell::before,
.drink_sec .swiper-slide .img_box .button_sell::after{ content: ''; position: absolute; left: 0; right: 0; top: 0; bottom: 0; border-radius: 20px;
    background: linear-gradient(to right, #56ccf2, #2f80ed); transition: all .3s ease-in-out;}


.drink_sec .swiper-slide .img_box:hover .button_sell::before{
    filter: blur(5px);
}

.drink_sec .swiper-slide .img_box:hover .button_sell::after{
    filter: blur(10px);
}

.drink_sec .swiper-slide .img_box:hover .button_sell{
    animation: hue 2s linear infinite;
    filter: grayscale(0%);
}

@keyframes hue{
    0%{filter: hue-rotate(0deg);}
    100%{filter: hue-rotate(360deg);}
}



.drink_sec .swiper-slide .img_box .button_sell div span{ font-family: 'SDSamliphopangche_Basic'; font-size: 28px; transition: all .3s ease-in-out;}
.drink_sec .swiper-slide .img_box .button_sell div i{ font-size: 24px; margin-right: 4px; transition: all .3s ease-in-out;}


.drink_sec .swiper-slide .tag_wrap{margin-top: 20px;}
.drink_sec .swiper-slide .tag_wrap a{display: inline-block; width: 180px; height: 50px; cursor: pointer; font-family: 'SDSamliphopangche_Basic'; 
    font-size: 1.2em; transition: 0.5s; letter-spacing: 1px; overflow: hidden; border: 2px solid white; font-size: 24px; line-height: 52px;
    border-radius: 30px; background: #333; text-align: center;}
.drink_sec .swiper-slide .tag_wrap a:hover{background: white;}
.drink_sec .slide1 .tag_wrap a{box-shadow: 0 0 10px #00b3ff, inset 0 0 10px #00b3ff;}
.drink_sec .slide1 .tag_wrap a:hover{box-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff; color: #00b3ff;}
.drink_sec .slide2 .tag_wrap a{box-shadow: 0 0 10px #ff5252, inset 0 0 10px #ff5252;}
.drink_sec .slide2 .tag_wrap a:hover{box-shadow: 0 0 10px #ff5252,0 0 20px #ff5252, 0 0 40px #ff5252; color: #ff5252;}
.drink_sec .slide3 .tag_wrap a{box-shadow: 0 0 10px #ffc23e, inset 0 0 10px #ffc23e;}
.drink_sec .slide3 .tag_wrap a:hover{box-shadow: 0 0 10px #ffc23e, 0 0 20px #ffc23e, 0 0 40px #ffc23e; color: #ffc23e;}
.drink_sec .slide4 .tag_wrap a{box-shadow: 0 0 10px #2356ff, inset 0 0 10px #2356ff;}
.drink_sec .slide4 .tag_wrap a:hover{box-shadow: 0 0 10px #2356ff, 0 0 20px #2356ff, 0 0 40px #2356ff; color: #2356ff;}
.drink_sec .slide5 .tag_wrap a{box-shadow: 0 0 10px #e314ff, inset 0 0 10px #e314ff;}
.drink_sec .slide5 .tag_wrap a:hover{box-shadow: 0 0 10px #e314ff, 0 0 20px #e314ff, 0 0 40px #e314ff; color: #e314ff;}


.swiper-container-horizontal>.swiper-pagination-bullets{bottom: 30px;}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin: 0 8px;}
.drink_sec .swiper-pagination-bullet,.drink_sec .swiper-pagination-bullet-active{background: white;width: 16px; height: 16px;
    box-shadow: 0 0 10px #2356ff, 0 0 20px #2356ff, 0 0 40px #2356ff;}
.swiper-button-next, .swiper-button-prev{color: white !important; text-shadow: 0 0 10px #2356ff,0 0 20px #2356ff, 0 0 40px #2356ff;}

.swiper-button-next:after, .swiper-button-prev:after{font-size: 60px;}




/* =========================================================================
=============================== 4 page ===============================
========================================================================= */



section.drink_mov{
    background: url(../images/movie_bak.png) no-repeat; 
    background-size: cover;
    background-position: center center;
    box-sizing: border-box;
    width: 100%;
}


.drink_mov .tit_wrap{width: 100%; height: 10vh; box-sizing: border-box; text-align: center; padding-top: 50px;}
.drink_mov .tit_wrap h2{font-size: 60px; margin-bottom: 20px; line-height: 1.3em; font-family: 'SDSamliphopangche_Outline';
    text-shadow: 0 0 10px #2356ff, 0 0 20px #2356ff, 0 0 40px #2356ff;}
.drink_mov .tit_wrap h3{font-size: 28px; font-family: 'SDSamliphopangche_Basic'; text-shadow: 0 0 10px #14152f, 0 0 20px #14152f, 0 0 40px #14152f;}
.drink_mov .swiper-container{width: 60%; max-width: 900px; height: 70%; padding: 8% 5% 0 5%; box-sizing: border-box;}
.drink_mov .swiper-slide{background: transparent; height: 360px; transition: 0.5s; box-shadow: 0 0 10px #2356ff, 0 0 20px #2356ff, 0 0 40px #2356ff;}
.drink_mov .swiper-slide iframe{width: 100%; height: 100%;}

.drink_mov .swiper-pagination-bullet{opacity: .5; width: 90px; height: 60px; border-radius: 0; margin: 0 10px !important;}
.drink_mov .swiper-pagination-bullet-active{opacity: 1; width: 90px; height: 60px; border-radius: 0;
    box-shadow: 0 0 10px #2356ff, 0 0 20px #2356ff, 0 0 40px #2356ff;}
.drink_mov .swiper-pagination-bullet:nth-child(1){background: url(../images/event1.png) no-repeat; background-size: cover;}
.drink_mov .swiper-pagination-bullet:nth-child(2){background: url(../images/event1.png) no-repeat; background-size: cover;}
.drink_mov .swiper-pagination-bullet:nth-child(3){background: url(../images/event1.png) no-repeat; background-size: cover;}
.drink_mov .swiper-pagination-bullet:nth-child(4){background: url(../images/event1.png) no-repeat; background-size: cover;}
.drink_mov .swiper-pagination-bullet:nth-child(5){background: url(../images/event1.png) no-repeat; background-size: cover;}
.drink_mov .swiper-pagination-bullet:nth-child(6){background: url(../images/event1.png) no-repeat; background-size: cover;}

.drink_mov .swiper-container-horizontal>.swiper-pagination-bullets{bottom: 5%;}
.drink_mov .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin: 0px; border: 1px solid #14152f;}

.drink_mov .swiper-button-next{ right: 10px;}
.drink_mov .swiper-button-prev{ left: 10px;}


/* =========================================================================
=============================== 5 page ===============================
========================================================================= */


section.drink_event {
    background: url(../images/event_bak.png) no-repeat; 
    background-size: cover;
    box-sizing: border-box;
}

.drink_event .con_wrap{display: flex; flex-flow: row nowrap; position: relative; width: 100%; height: 100vh;}
.drink_event .tit_wrap{width: 40%; box-sizing: border-box; padding-top: 180px; display: flex; flex-flow: column nowrap; justify-content: flex-start; align-items: flex-start;}
.drink_event .tit_wrap h2{font-size: 60px; margin-bottom: 10px; line-height: 1.3em; text-align: center; width: 100%; font-family: 'SDSamliphopangche_Outline';
    text-shadow: 0 0 10px #ffc23e, 0 0 20px #ffc23e, 0 0 40px #ffc23e;}
.drink_event .tit_wrap h3{font-size: 30px; font-family: 'SDSamliphopangche_Basic'; text-align: center; width: 100%;
    text-shadow: 0 0 10px #14152f, 0 0 20px #14152f, 0 0 40px #14152f; }


.drink_event .tit_wrap h4{font-size: 24px; font-family: 'SDSamliphopangche_Basic'; text-shadow: 0 0 10px #ffc23e, 0 0 20px #ffc23e, 0 0 40px #ffc23e;
    margin-bottom: 10px;}
.drink_event p{font-size: 16px; font-weight: 400; line-height: 1.2em;}
.drink_event .tit_wrap .txt_wrap1{ width: 20%; position: absolute; top: 40%; left: 5%;}
.drink_event .tit_wrap .txt_wrap2{ width: 20%; position: absolute; top: 55%; left: 20%;}
.drink_event .tit_wrap .txt_wrap3{ width: 20%; position: absolute; top: 70%; left: 5%;}
.drink_event .event_img {width: 60%; height: 100vh; position: absolute; right: 0; top: 0; padding-top: 80px;}
.drink_event .event_img img{width: 400px; height: 300px; box-sizing: border-box; position: absolute; border: 2px solid #fff;
    box-shadow:0 0 10px #ffc23e,0 0 20px #ffc23e,0 0 40px #ffc23e;}
.drink_event .event_img img:nth-child(1){right: 10%; top: 10%;}
.drink_event .event_img img:nth-child(2){right: 50%; top: 30%;}
.drink_event .event_img img:nth-child(3){right: 10%; top: 50%;}





#footer{height: 300px !important; background-color: #14152F; box-sizing: border-box; padding: 40px 0; margin-top: -1px;}
.foot_wrap{display: flex; flex-flow: row nowrap;}
.foot_wrap .img{width: 200px; height: 100%; margin: 0 auto; background: url(../images/nav_tit.png) no-repeat; background-size: contain;
    background-position: center center;}
.foot_wrap>div:first-child{width: 25%;}
.foot_wrap>div:last-child{width: 75%; padding-right: 10%; box-sizing: border-box;}
.foot_wrap>div h2{font-size: 28px; font-family: 'SDSamliphopangche_Outline';  margin-bottom: 20px;}
.foot_wrap>div span{line-height: 2.0em; font-weight: 300;}
.foot_wrap>div span:after{content: '|'; margin: 0 10px;}
.foot_wrap>div span strong{font-weight: 700;}

.copyright{text-align: center; padding-top: 50px;}



















@media (max-width:1600px){

    .header .head_sec .head_txt{width: 35%; left: 10%;}
    .header .head_sec .head_txt .logo{width: 100%; height: 300px;}

    .drink_guide h2{font-size: 60px; margin: 20px 0 50px}
    .drink_guide .drink_wrap>div{width: 15%;}

    .drink_guide .drink_wrap img.bak{position: absolute; bottom: 50px; right: 0px; width: 140px;}

    .drink_sec .swiper-slide .txt_box{width: 70%;}
    .drink_sec .swiper-slide .img_box{width: 30%;}
    .drink_sec .swiper-slide .img_box img{width: 210px;}
    .drink_sec .swiper-slide .img_box .button_sell{width: 200px;}
    .drink_sec .swiper-slide .img_box .button_sell div{padding: 14px 0 12px;}
    .drink_sec .swiper-slide h2 {width: 800px; height: 280px; top: -50px; font-size: 54px; text-indent: 130px; line-height: 310px;}
    .drink_sec .swiper-slide .box_wrap{margin-top: 140px; padding-left: 10px;}
    .drink_sec .swiper-slide .box_wrap p{margin-bottom: 15px;}
    .drink_sec .swiper-slide .tag_wrap a{width: 160px; height: 44px; line-height: 46px; font-size: 22px;}


    .drink_mov .tit_wrap h2 {margin-bottom: 15px;}
    .drink_mov .swiper-container {
        width: 70%;
        padding: 8% 8% 0 8%;}
    .drink_mov .swiper-container-horizontal>.swiper-pagination-bullets{bottom: 0px;}


    .drink_event .tit_wrap{padding-top: 120px;}

}

@media (max-width:1480px){

    .drink_mov .swiper-container{max-width: 800px;}

    .drink_event .tit_wrap{width: 50%;}
    .drink_event .event_img{width: 50%;}
    .drink_event .tit_wrap .txt_wrap1{width: 25%;}
    .drink_event .tit_wrap .txt_wrap2{width: 25%;}
    .drink_event .tit_wrap .txt_wrap3{width: 25%;}
    .drink_event .event_img img {width: 350px; height: 250px;}

}

@media (max-width:1280px){


    .header .head_sec .head_txt{width: 40%; left: 8%; height: 280px;}
    .header .head_sec .head_txt .logo{height: 250px;}
    .header .head_sec .head_txt p{font-size: 26px;}

    .header .head_sec .model_img{height: 100vh; right: 5%; top: 50%; transform: translateY(-50%); background-position: center;}

    .drink_guide .sec_wrap>h2{font-size: 60px; margin: 20px 0;}
    .drink_guide .drink_wrap>div{width: 18%;}

    .drink_guide .drink_wrap img.bak{position: absolute; bottom: 40px; right: -20px; width: 140px;}
    .drink_guide .drink_wrap p{font-size: 20px;}

    .drink_sec .swiper-slide h2 {width: 800px; height: 270px; font-size: 52px;}
    .drink_sec .swiper-slide .img_box img{width: 180px;}
    .drink_sec .swiper-slide .img_box .button_sell{width: 180px;}
    .drink_sec .swiper-slide .txt_box{padding: 30px 0 0 30px;}

    .drink_mov .tit_wrap {padding-top: 80px; height: 15vh;}

    .drink_mov .tit_wrap h2 {font-size: 50px; margin-bottom: 10px;}
    .drink_mov .tit_wrap h3 {font-size: 26px;}
    .drink_mov .swiper-container{height: 80%;}
    .drink_mov .swiper-container-horizontal>.swiper-pagination-bullets{bottom: 30px;}

    .drink_event .tit_wrap h2{font-size: 50px; padding-top: 20px;}
    .drink_event .tit_wrap h3{font-size: 30px;}

    .drink_event .tit_wrap{width: 60%;}
    .drink_event .event_img{width: 40%;}
    .drink_event .tit_wrap .txt_wrap1{ width: 30%; top: 40%; left: 5%;}
    .drink_event .tit_wrap .txt_wrap2{ width: 30%; top: 60%; left: 20%;}
    .drink_event .tit_wrap .txt_wrap3{ width: 30%; top: 80%; left: 5%;}

    .drink_event .event_img img:nth-child(1){right: 5%; top: 10%;}
    .drink_event .event_img img:nth-child(2){right: 45%; top: 35%;}
    .drink_event .event_img img:nth-child(3){right: 5%; top: 60%;}

    #footer{height: 400px !important; padding: 0;}

}

@media (max-width: 1200px){
    .nav ul.sns_icon{margin-left: 2%; width: 40%;}
    .nav ul.menu{margin-right: 2%; width: 50%;}
    .nav ul.menu li {text-indent: 20px;}
    .nav ul.menu li a{font-size: 22px;}

    .drink_mov .swiper-pagination-bullet {
        opacity: .5;
        width: 80px;
        height: 60px;
        border-radius: 0;
        margin: 0 5px !important;
    }

    .drink_mov .swiper-pagination-bullet-active{
        opacity: 1;
    }

}

@media (max-width: 1024px){

    .pop_up2{display: none;}
    .pop_up3{display: none;}

    .nav ul.sns_icon li:last-child p{font-size: 20px;}
    header.header .bak{background-size: cover; background-position: center;}
    
    section h2{font-size: 56px !important;}

    .drink_guide h2{font-size: 60px; margin-bottom: 80px;}
    .drink_guide .drink_wrap{pointer-events: none;}
    .drink_guide .drink_wrap img.bak{position: absolute; bottom: 60px; right: -20px; width: 130px; opacity: 1;}
    
    .drink_guide .drink1 img.bak{animation: rotation 1.5s ease-in-out infinite;}
    .drink_guide .drink2 img.bak{animation: rotation 1.5s ease-in-out infinite;}
    .drink_guide .drink3 img.bak{animation: rotation 1.5s ease-in-out infinite;}
    .drink_guide .drink4 img.bak{animation: rotation 1.5s ease-in-out infinite;}
    .drink_guide .drink5 img.bak{animation: rotation 1.5s ease-in-out infinite;}


    .drink_sec .swiper-slide h2 {font-size: 50px !important; top: 60px; text-indent: 120px; line-height: 300px;}
    .drink_sec .swiper-slide .box_wrap{width: 100%; height: 40vh; flex-flow: row nowrap; justify-content: center; align-items: center;
        border-radius: 1.5rem; padding: 0px; margin-top: 300px;}
    .drink_sec .swiper-slide .txt_box{width: 65%; padding: 50px 30px 0 0;}
    .drink_sec .swiper-slide .img_box{width: 35%;}
    .drink_sec .swiper-slide .box_wrap p{line-height: 1.4em; font-size: 22px;}
    .drink_sec .swiper-slide .tag_wrap{margin-top: 20px;}
    .drink_sec .swiper-container-horizontal>.swiper-pagination-bullets{bottom: 15%;}

    .drink_sec .slide2 .box_wrap {box-shadow: 0 0 10px #ff5252, 0 0 20px #ff5252, 0 0 40px #ff5252, 0 0 60px #ff5252,
        inset 0 0 10px #ff5252, inset 0 0 20px #ff5252;}

    .drink_mov .tit_wrap {margin-top: 0px; height: 10%;}
    .drink_mov .swiper-container{width: 100%; height: 50vh; padding: 10%;}
    .drink_mov .swiper-container .swiper-slide{width: 80%;}
    .drink_mov .swiper-container-horizontal>.swiper-pagination-bullets{bottom: 10%;}

    .drink_sec .swiper-slide .img_box .button_sell{
        box-shadow: none;
        animation: hue 2s linear infinite;
        transform: scale(1.1);
    }

    
    .drink_sec .swiper-slide .img_box .button_sell::before{
        filter: blur(5px);
    }

    .drink_sec .swiper-slide .img_box .button_sell::after{
        filter: blur(10px);
    }

    .drink_sec .swiper-slide .img_box .button_sell{width: 170px;}
    .drink_sec .swiper-slide .img_box .button_sell div {padding: 10px 0 8px;}
    .drink_sec .swiper-slide .img_box .button_sell div i{ font-size: 20px; line-height: 26px;}
    .drink_sec .swiper-slide .img_box .button_sell div span{ font-size: 26px;}

    /* .drink_sec .swiper-slide .img_box img{border: 0px solid #fff; box-shadow: 0 0 10px #fff,0 0 20px #fff, 0 0 40px #fff;} */
    /* .drink_sec .slide1 .img_box img{box-shadow: 0 0 10px #00b3ff,0 0 20px #00b3ff, 0 0 40px #00b3ff;}
    .drink_sec .slide2 .img_box img{box-shadow: 0 0 10px #ff5252,0 0 20px #ff5252, 0 0 40px #ff5252;}
    .drink_sec .slide3 .img_box img{box-shadow: 0 0 10px #ffc23e,0 0 20px #ffc23e, 0 0 40px #ffc23e;}
    .drink_sec .slide4 .img_box img{box-shadow: 0 0 10px #2356ff,0 0 20px #2356ff, 0 0 40px #2356ff;}
    .drink_sec .slide5 .img_box img{box-shadow: 0 0 10px #e314ff,0 0 20px #e314ff, 0 0 40px #e314ff;} */


    
    section.drink_mov{background-size: cover;}

    section.drink_event {background-position: 40% 0;}
    .drink_event .tit_wrap{width: 100%;}

    .drink_event .tit_wrap .txt_wrap1{ width: 40%; top: 35%; left: 10%;}
    .drink_event .tit_wrap .txt_wrap2{ width: 40%; top: 55%; left: 10%;}
    .drink_event .tit_wrap .txt_wrap3{ width: 40%; top: 75%; left: 10%;}

    .drink_event .event_img img {width: 300px; height: 200px;}
    .drink_event .event_img img:nth-child(1){right: 10%; top: 30%;}
    .drink_event .event_img img:nth-child(2){right: 10%; top: 50%;}
    .drink_event .event_img img:nth-child(3){right: 10%; top: 70%;}



}


@media (max-width: 900px){


    /* #destroy, #create {
        position:fixed;
        bottom:20px;
        z-index: 20;
    }
    #destroy {
        left: 10px;
    }
    #create {
        left: 200px;
    } */

    #wrap{display: none;}
    #wrap2{display: block;}

    *{z-index: 1; position: relative;}

    
    .pop_up_mo{position: absolute; left: 15%;}

    .window_bak{ background: linear-gradient(to top, #14152F 0%, #3B465E 100%); 
        background: url(../images/bak_sec2.png) no-repeat; background-position: center center;
        width: 100vw; height: 100vh; position: fixed; z-index: 0 !important; background-size: cover;}
    
    section{padding: 60px 0 50px; margin: 0; overflow: hidden; width: 100%; height: 100%; background: transparent !important;}

    section h2{font-size: 48px !important; line-height: 1.2em;}

    nav.nav{padding: 0 5%; height: 60px; position: fixed; top: 0; left: 0;}
    .nav ul.sns_icon,.nav ul.menu{display: none;}
    .nav a.logo_nav{width: 80px; height: 100%;}

    header.header{background: transparent;}
    .header .head_sec {display: flex; flex-flow: column nowrap; justify-content: space-between; align-items: center; padding-top: 80px; box-sizing: border-box;}
    .header .head_sec .head_txt {width: 100%; height: 30vh; z-index: 1; position: unset; transform: unset;}
    .header .head_sec .head_txt .logo{width: 100%; height: 30vh; left: 0; background-position: center center;}
    .header .head_sec .head_txt p{font-size: 22px; text-align: center; text-indent: 0; display: none;}
    .header .head_sec #model2{width: 100%; height: 50vh; overflow: hidden; z-index: 2;}
    .header .head_sec .model_img{position: unset; transform: unset; width: 100%; height: 100%;}
    .header .bak{display: none;}

    .header .button_sell {position: absolute; right: 5%; top: 40vh;}
    .header .button_sell a{display: block; height: 42px; line-height: 44px; cursor: pointer; float: unset;  margin: 0 auto; border: 2px solid white; border-radius: 30px; 
        background: white; text-align: center; box-shadow: 0 0 10px #2356ff, 0 0 20px #2356ff, 0 0 40px #2356ff; padding: 0 14px;}
    .header .button_sell a i{color: #2356ff; font-size: 20px;}
    .header .button_sell a span {color: #2356ff; font-family: 'SDSamliphopangche_Basic'; font-size: 22px;}

    .drink_guide .mo_drink_wrap{display: flex; flex-flow: row wrap; justify-content:center; align-items: flex-end;}
    .drink_guide .mo_drink_wrap>div{height: auto; width: 30%; margin-top: 30px;}
    .drink_guide h2{font-size: 50px; margin: 30px 0;}
    .drink_guide h2 span{display: block;}
    
    .drink_guide .mo_drink_wrap .img_wrap{height: 250px;}
    .drink_guide .mo_drink_wrap img.product{display: block; margin: 0 auto; border-radius: 5px; width: 150px;}
    .drink_guide .mo_drink_wrap img.bak{position: absolute; bottom: -20px; right: 0px; width: 120px;}
    .drink_guide .mo_drink_wrap p{font-size: 20px; margin-top: 20px; line-height: 1.2em; text-align: center; font-family: 'SDSamliphopangche_Basic'; 
        text-shadow:0 0 10px #14152f, 0 0 20px #14152f;}

    .drink_guide .mo_drink1 img.bak{animation: rotation 1.5s ease-in-out infinite;}
    .drink_guide .mo_drink2 img.bak{animation: rotation 1.5s ease-in-out infinite;}
    .drink_guide .mo_drink3 img.bak{animation: rotation 1.5s ease-in-out infinite;}
    .drink_guide .mo_drink4 img.bak{animation: rotation 1.5s ease-in-out infinite;}
    .drink_guide .mo_drink5 img.bak{animation: rotation 1.5s ease-in-out infinite;}



    .drink_sec .box_wrap{background-color: transparent;}
    .drink_sec h2{display: block; margin: 0 auto; margin-bottom: -30px; margin-top: 50px; font-size: 42px !important; font-family: 'SDSamliphopangche_Outline';
        background: url(../images/tit_bak.png) no-repeat; background-size: contain; background-position: center; text-align: left;
        width: 100%; max-width: 640px; height: 240px; line-height: 260px; letter-spacing: 0px; text-indent: 180px;}
    .drink_sec .pro2 h2, .drink_sec .pro3 h2,.drink_sec .pro5 h2{ text-indent: 0; text-align: center;
        letter-spacing: 2px;background: url(../images/tit_bak3.png) no-repeat; background-size: contain; background-position: center;
    }

    .drink_sec .box_wrap{width: 100%; display: flex; flex-flow: column nowrap; justify-content: center; align-items: center; box-sizing: border-box;
        margin-top: 0px; padding: 20px;}
    

    .drink_sec .pro .txt_box{box-shadow:0 0 10px white,0 0 20px white;}

    
    .drink_sec .pro1 h2{text-shadow: 0 0 10px #00b3ff,0 0 20px #00b3ff,0 0 40px #00b3ff;}
    .drink_sec .pro2 h2{text-shadow: 0 0 10px #ff5252,0 0 20px #ff5252,0 0 40px #ff5252;}
    .drink_sec .pro3 h2{text-shadow: 0 0 10px #ffc23e,0 0 20px #ffc23e,0 0 40px #ffc23e;}
    .drink_sec .pro4 h2{text-shadow: 0 0 10px #2356ff,0 0 20px #2356ff,0 0 40px #2356ff;}
    .drink_sec .pro5 h2{text-shadow: 0 0 10px #e314ff,0 0 20px #e314ff,0 0 40px #e314ff;}

    .drink_sec .txt_box{width: 100%; max-width: 550px; position: unset; box-sizing: border-box; padding: 30px 20px 10px; border: 3px solid white; border-radius: 20px;
        background: rgba(255,255,255,0.3); margin-top: 20px;}

        .drink_sec .box_wrap p{font-size: 20px; font-weight: 600; line-height: 1.4em; margin-bottom: 20px; font-family: 'Noto Sans KR';
            color: #fff; text-shadow: 0 0 5px #14152F,0 0 5px #14152F;}
    .drink_sec .box_wrap p i{display: inline-block; width: 30px;}

    .drink_sec .pro1 .box_wrap p i{text-shadow: 0 0 10px #00b3ff,0 0 20px #00b3ff;}
    .drink_sec .pro2 .box_wrap p i{text-shadow: 0 0 10px #ff5252,0 0 20px #ff5252;}
    .drink_sec .pro3 .box_wrap p i{text-shadow: 0 0 10px #ffc23e,0 0 20px #ffc23e;}
    .drink_sec .pro4 .box_wrap p i{text-shadow: 0 0 10px #2356ff,0 0 20px #2356ff;}
    .drink_sec .pro5 .box_wrap p i{text-shadow: 0 0 10px #e314ff,0 0 20px #e314ff;}

    
    .drink_sec .pro1 .txt_box{box-shadow: 0 0 10px #00b3ff,0 0 20px #00b3ff,0 0 40px #00b3ff;}
    .drink_sec .pro2 .txt_box{box-shadow: 0 0 10px #ff5252,0 0 20px #ff5252,0 0 40px #ff5252;}
    .drink_sec .pro3 .txt_box{box-shadow: 0 0 10px #ffc23e,0 0 20px #ffc23e,0 0 40px #ffc23e;}
    .drink_sec .pro4 .txt_box{box-shadow: 0 0 10px #2356ff,0 0 20px #2356ff,0 0 40px #2356ff;}
    .drink_sec .pro5 .txt_box{box-shadow: 0 0 10px #e314ff,0 0 20px #e314ff,0 0 40px #e314ff;}


    .drink_sec .img_box{height: 360px; position: unset; transform: unset;}
    .drink_sec .img_box img{height: 300px; display: block; margin: 0 auto;}
    
    /* .drink_sec .pro1 .img_box img{box-shadow:0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff;}
    .drink_sec .pro2 .img_box img{box-shadow:0 0 10px #ff5252, 0 0 20px #ff5252, 0 0 40px #ff5252;}
    .drink_sec .pro3 .img_box img{box-shadow:0 0 10px #ffc23e, 0 0 20px #ffc23e, 0 0 40px #ffc23e;}
    .drink_sec .pro4 .img_box img{box-shadow:0 0 10px #2356ff, 0 0 20px #2356ff, 0 0 40px #2356ff;}
    .drink_sec .pro5 .img_box img{box-shadow:0 0 10px #e314ff, 0 0 20px #e314ff, 0 0 40px #e314ff;} */
    

    .drink_sec .img_box .button_sell{width: 180px; border-radius: 10px; position: relative; margin: 0 auto; padding: 3px; border-radius: 12px; 
        position: relative; margin-top: -10px; display: block;}
    .drink_sec .img_box .button_sell a{position: relative; z-index: 3; display: flex; flex-flow: row nowrap; justify-content: center;
        padding: 12px 0 10px; background: white; border-radius: 17px; text-align: center; letter-spacing: 1px; line-height: 1.5em;}


    .drink_sec .pro1 .img_box .button_sell{background: #00b3ff;}
    .drink_sec .pro2 .img_box .button_sell{background: #ff5252;}
    .drink_sec .pro3 .img_box .button_sell{background: #ffc23e;}
    .drink_sec .pro4 .img_box .button_sell{background: #2356ff;}
    .drink_sec .pro5 .img_box .button_sell{background: #e314ff;}


    .drink_sec .img_box .button_sell div{position: relative; z-index: 3; display: flex; flex-flow: row nowrap; justify-content: center;
        padding: 10px 0 8px; background: #14152F; border-radius: 10px; text-align: center; letter-spacing: 1px; line-height: 1.8em;}

    .drink_sec .img_box .button_sell div span{ font-family: 'SDSamliphopangche_Basic'; font-size: 24px; color : white;}
    .drink_sec .img_box .button_sell div i{ font-size: 21px; margin-right: 6px; color : white;}



    .drink_sec .tag_wrap a{margin-right: 30px; display: block; width: 150px; height: 40px; cursor: pointer; font-family: 'SDSamliphopangche_Basic'; 
        float: unset; border-radius: 30px; letter-spacing: 1px; font-size: 20px; line-height: 42px; text-align: center; background: #14152F; margin: 0 auto;
        box-shadow:0 0 10px #14152F, 0 0 20px #14152F;}
    
    .drink_sec .pro1 .tag_wrap a{ border: 2px solid #00b3ff;}
    .drink_sec .pro2 .tag_wrap a{ border: 2px solid #ff5252;}
    .drink_sec .pro3 .tag_wrap a{ border: 2px solid #ffc23e;}
    .drink_sec .pro4 .tag_wrap a{ border: 2px solid #2356ff;}
    .drink_sec .pro5 .tag_wrap a{ border: 2px solid #e314ff;}



    .drink_mov .tit_wrap h2{font-size: 40px; line-height: 1.3em;}
    .drink_mov .tit_wrap h2 strong{display: block;}
    .drink_mov .tit_wrap h3{font-size: 20px;}



    .drink_mov .video_wrap{padding: 30px 0;}
    .drink_mov .video_wrap .vid{width: 100%; height: 300px; margin-bottom: 40px; text-align: center;}
    .drink_mov .video_wrap .vid iframe{width: 100%; max-width: 550px; height: 100%; box-shadow: 0 0 10px #2356ff,0 0 20px #2356ff;
        display: inline-block;}



    
    .drink_event .tit_wrap{width: 100%; padding: 0; padding-bottom: 50px;}
    .drink_event .con_wrap{display: flex; flex-flow: column nowrap; width: 100%; height: 100%;}
    .drink_event .txt_wrap{width: 100%; max-width: 550px; padding: 30px; box-sizing: border-box; margin: 0 auto;}
    .drink_event .tit_wrap h2{font-size: 40px;}
    .drink_event .tit_wrap h3{font-size: 18px;}
    .drink_event .txt_wrap img {width: 300px; height: 230px; position: unset; border: 1px solid #fff; display: block; margin: 0 auto;
        box-shadow:0 0 10px #ffc23e,0 0 20px #ffc23e,0 0 40px #ffc23e;}
    .drink_event .txt_wrap h4{font-size: 24px; text-shadow: 0 0 10px #ffc23e, 0 0 20px #ffc23e; margin: 40px 0 10px; font-family: 'SDSamliphopangche_Basic'; }
    .drink_event p{text-shadow: -1px 0 #14152F, 0 1px #14152F, 1px 0 #14152F, 0 -1px #14152F;}
    
    #footer{height: auto !important; background-color: #14152F; box-sizing: border-box; padding: 20px 0; margin: 0; overflow: hidden;}
    .foot_wrap{display: flex; flex-flow: column nowrap;}
    .foot_wrap>div:first-child{width: 100%; margin: 30px 0 50px;}
    .foot_wrap>div:first-child .img{width: 100%; height: 100px; background-position: center;}
    .foot_wrap>div:last-child{width: 100%; padding: 0 5%; margin-bottom: 30px;}
    .foot_wrap>div span{display: block; line-height: 1.6em; margin-bottom: 12px;}
    .foot_wrap>div span:after{content: '';}
    .copyright{padding: 0; margin: 50px 0;}


}


@media (max-width:600px){

    
    .pop_up{max-width: 480px; width: calc(100% - 40px); height: 400px; margin: 0 20px; left: 0; transform: unset;}
    .pop_up form label {font-size: 16px;}
    .pop_up form .closebtn {font-size: 20px;}


    section h2{font-size: 40px !important; line-height: 1.2em;}

    .drink_guide .mo_drink_wrap{flex-flow: row wrap; align-items: start;}
    .drink_guide .mo_drink_wrap>div{height: auto; width: 50%; max-width: 300px; margin-top: 30px;}
    .drink_guide h2{font-size: 40px; margin: 30px 0;}
    .drink_guide .mo_drink_wrap img.product{width: 140px;}
    .drink_guide .mo_drink_wrap img.bak{bottom: -20px; right: 0px; width: 100px;}

    .drink_sec .img_box .button_sell {width: 170px;}
    .drink_sec h2{font-size: 32px !important; text-align: center; height: 200px; line-height: 220px; letter-spacing: 0px; text-indent: 0px;}
    .drink_sec .box_wrap p{font-size: 18px; font-weight: 500;}

    .drink_guide .mo_drink_wrap img.bak{bottom: -20px; right: 0px; width: 120px;}

}

@media (max-width:400px){
    .drink_sec .box_wrap{padding: 10px;}
    .drink_mov .video_wrap .vid{width: 100%; height: 250px;}
}

@media (max-width:300px){
    section h2{font-size: 28px !important;}
    .drink_sec h2{font-size: 28px !important;}
    .drink_sec .box_wrap{padding: 10px;}
    .drink_sec .box_wrap p i{width: 20px;}
    .drink_sec .box_wrap p{font-size: 16px; font-weight: 500;}
    .drink_sec .txt_box{padding: 20px 10px 10px;}
    .drink_guide .mo_drink_wrap p{font-size: 16px; width: 105%;}
    .drink_guide .mo_drink_wrap img.product{width: 110px;}
    .drink_guide .mo_drink_wrap img.bak{bottom: -20px; right: -10px; width: 100px;}
    .drink_mov .video_wrap .vid{width: 100%; height: 200px;}
    .drink_event .txt_wrap{padding: 20px;}
    .drink_event .txt_wrap img{width: 100%; height: 150px;}
}