@charset 'utf-8';

#portfolio{background: url(../images/bg04.png) no-repeat; background-size: cover;}
#portfolio .fp-tableCell{display: table;}
#portfolio .content{width:90%;max-width: 1920px;}
#portfolio h2{font-size: 50px; color: white;padding: 100px; padding-right: 60px; margin-top: 30px;}
.swiper-slide{overflow: hidden; text-align: center;}
.swiper-slide:hover img{transform:scale(1.05);}
.swiper-slide img{width: 90%; transition: 0.2s;}
.swiper-slide p{font-size: 2em; color: white; display: inline-block;}
.swiper-slide p:last-of-type{font-size: 1.5em; padding-top: 10px;color: lightseagreen;}
.swiper-slide a{color: white;}
.swiper-slide a:hover{color: lightseagreen;}


@media (max-width:800px){    
    #portfolio .content{width:95%;}
    #portfolio h2{padding-left: 50px;}
    .swiper-slide{text-align: left;}
    .swiper-slide img{width:30%;}
        
}