@charset 'utf-8';


#skill{text-align: center;}
#skill h2{font-size: 5.0em; padding: 30px 0; color: #383F5B}
#skill h3{font-size: 1.5em;padding-top: 10px; color: white;}
#skill p{font-size: 1.3em; color: white;}
#skill .content{width: 95%;padding-top: 15vh; position: relative;max-width: 1350px;}
#skill .about_list{display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: center; 
    position: relative; font-family: 'Noto Sans KR', sans-serif;}
#skill .about_list li{width: 17%; height: 100%; padding-bottom: 15px; margin-top: 50px; background-color:#666;
    overflow: hidden; cursor: pointer; transition: 0.3s; border-radius: 3%;}
#skill .about_list li:nth-child(1){background-color: #9b0d0a;}
#skill .about_list li:nth-child(2){background-color: #d87825;}
#skill .about_list li:nth-child(3){background-color: #0a729b;}
#skill .about_list li:nth-child(4){background-color: #2322a9;}
#skill .about_list li:nth-child(5){background-color: #00af73;}
#skill .about_list li:hover{transform: rotate(-10deg);}
#skill .about_list li.active{transform: scale(1.3);}
#skill .img_box{overflow: hidden;width: 100%; height: 100%;padding: 20px 0; background-color: white;}
#skill .img_box img{width: 50%;}
#skill .about_list li>p:first-child{visibility: hidden;}
#skill .about_list li:hover>p:first-child{visibility: visible;}

#skill .progress{width: 50vw; height: 50px; position: absolute; bottom: -20vh; left: 50%; transform: translatex(-50%);
    background-color: white; opacity: 0; border-radius: 50px; overflow: hidden; font-family: 'Noto Sans KR', sans-serif;}

#skill .progress span{color: white;line-height: 50px; font-size: 2.0em;
    position: absolute;left:50%;top:50%;transform:translate(-50%,-50%);} 
#skill .progress::before{content:'';display: block; width: 0%; height: 50px; background-color:#999;}
#skill .pro01::before{width: 80%;background-color: #9b0d0a;}
#skill .pro02::before{width:70%;background-color: #d87825;}
#skill .pro03::before{width:95%;background-color: #0a729b;}
#skill .pro04::before{width:100%;background-color: #2322a9;}
#skill .pro05::before{width:80%;background-color: #00af73;}
#skill .progrss::after{content:'';display:block;width:0;height:0;}


@keyframes move01{
    0%{transform:rotate(18deg);}
    30%{transform:rotate(-15deg);}
    55%{transform:rotate(9deg);}
    75%{transform:rotate(-6deg);}
    100%{transform:rotate(0deg);}
}


@media (max-width:1000px){
    #skill h3{font-size: 1.2em;}
}


@media (max-width:900px){
    #skill h2{font-size: 3.0em;padding: 30px 0;}
    #skill .content{width: 95%;padding-top: 20px;}
    #skill .img_box{padding: 10px 0;}
    #skill .about_list{display: flex; flex-flow: row wrap; justify-content: space-around;}
    #skill .about_list li{width: 30%; margin:25px 0 5px 5px; padding-bottom: 10px;}
    #skill .about_list li.active{transform: scale(1.2);}
    #skill .about_list li>p:first-child{display: none;}
    #skill p{font-size: 1.0em;}
    #skill .progress{width: 70vw;height: 40px; bottom: -12vh;}
    #skill .progress span{font-size: 1.2em;}
    
}

@media (max-width:500px){
    #skill h3{font-size: 1.0em;padding-top: 5px;}
    #skill p{font-size: 0.8em;}
}

@media (max-width:450px){
    #skill h2{font-size: 2.0em; padding-top: 30px;}

}
