@charset 'utf-8';

#tel{position: relative;}
#tel .content{padding-top: 20vh;max-width: 1350px;}
.tel_bg{width: 60vw; background-color: white; border-radius: 20px;padding:30px 50px; margin: 0 auto;box-sizing: border-box;}
.tel_bg_ul{display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: center;}
.tel_bg h2{color: #383F5B;font-size: 3.0em; text-align: center;}
.tel_bg p{color: #383F5B; font-size: 1.5em;}
.tel_bg p span{color: gray; transition: 0.3s;}
.tel_bg p span:hover{color: #A9B2FD;}
.tel_bg li{overflow: hidden;}
.tel_bg li:nth-child(1){width: 30vw;}
.tel_bg li:nth-child(2){width: 60vw; padding-left: 5%;}
.tel_bg img{border-radius: 50%;width: 100%;}
.tel_bg li iframe{width: 90%;height: 30vh; padding:2% 0 0;}

.footer{width: 100vw; height: 100px; position: absolute; bottom: 0; background-color: rgba(0,0,0,0.8);}
.footer .footer_img,.footer .footer_address{position: absolute; bottom: 25%; left: 50%; transform: translate(-50%);}
.footer_address address{font-style: normal; font-size: large; padding-bottom: 10px; color: white;}
.footer_img p{float: right;width: 50px; height: 50px;overflow: hidden;}
.footer_img p:last-child{padding-right: 50px;}
.footer_img p img{width: 100%; border-radius: 50%;}






@media (max-width:1000px){
    .tel_bg{width: 90vw;}
}

@media (max-width:800px){
    #tel .content{padding-top: 30vh;}
    .tel_bg{height: 45vh; padding: 50px 20px;}
    .tel_bg h2{font-size: 2.5em;padding-bottom: 20px;}
    .tel_bg p{font-size: 1.5em;}
    .tel_bg li:nth-child(1){width: 40%;}
    .tel_bg li:nth-child(2){width: 60%;}
    .tel_bg li iframe{display: none;}
    .footer .footer_address{display: none;}
    .footer .footer_img{left: 15%;}
}

@media (max-width:600px){
    .tel_bg p{font-size: 1.2em;}
    .footer .footer_img{left: 30%;}
}
@media (max-width:400px){
    .tel_bg{height: 50vh;}
}
