@charset 'utf-8';


#welcome{position: relative; overflow: hidden;}
#myVideo{position: absolute;right: 0;bottom: 0;top:0;right:0;width: 100%;height: 100%;
    background-size: 100% 100%;background-color: black;background-position: center center;background-size: contain;
    object-fit: cover;z-index:3;}

#welcome .content{max-width: 1350px;}
.welcome_h2{position: absolute; top: 20vh; left: 50%; width: 70vh; 
    transform: translateX(-50%);z-index: 10; font-size: 1.5vh;}
.welcome_h2>h2{font-size: 5.0em; color: white;}
.welcome_h2>h3{font-size: 3.5em; color: white;}
.btn_box{position: absolute; bottom: 20vh; left: 50%; transform: translateX(-50%); z-index: 5;}
.btn_box input{padding: 10px 20px; background-color: transparent; font-size: 1.5em; cursor: pointer;
    border: 2px solid white; border-radius: 10px; color: white;}
.btn_box input:hover{background-color: white;color: black;}

.mouse_ani{position: absolute; bottom: 100px; left: 50%;transform: translate(-50%); z-index: 13;}
.mouse_ani>img{ position: absolute;animation:mmove 1.5s infinite ease-in-out;}

@keyframes mmove{
    0%{top:0px;}
    50%{top:20px;}
    70%{top:20px;}
    100%{top:0px;}
}


.typing-txt{display: none;}  

.typing{  
    /*position: absolute;*/ 
    display: inline-block; 
    animation-name: cursor; 
    animation-duration: 0.7s; 
    animation-iteration-count: infinite; 
} 
@keyframes cursor{ 
    0%{border-right: 1px solid #000} 
    50%{border-right: 1px solid #fff} 
    100%{border-right: 1px solid #000} 
}




@media (max-width:800px){
.welcome_h2{width: 100%;text-align: center; top: 20vh;}
.welcome_h2>h2{font-size: 4.0em;}
.welcome_h2>h3{font-size: 3.0em;}
.btn_box{top: 70vh;font-size: 0.8em;}
.btn_box input{padding: 8px 10px;}
}

@media(max-width:500px){
.welcome_h2{top: 30vh;}
.welcome_h2>h2{font-size: 3.0em;}
.welcome_h2>h3{font-size: 2.0em;}
}